.visitsitebtn{

color: blue;
background-color: #fff;
}

.visitsitebtn:hover{

color: white;
background-color: blue;


}


#searchsugg {border-top-left-radius: -18px;
	overflow-y:auto;
		max-height: 100%;
	  width: 45%; margin-left: 37%; font-size: 20px;
    background-color: rgb(188, 192, 240); position:fixed;top:46px;
		z-index:900;
}

#comment-system{
	  width:100%;
	  border-radius: 4px;
	  margin:4px;
}

.star{
	color:#441;
	font-size: 25px;
}

.star:hover{

	color:#ff1;

}



.user_name{

	font-size: 18px;

	color:#221199;

	padding: 5px;



	margin-left: 4%;

}
#comment_box{	
	width: 75%;
	font-size: 17px;
	margin: 10px;
	  border:0px;
	  border-bottom: solid 2px #555;
	  overflow: auto; 
	  min-height:30px;
}

.btn-post-cmnt{
margin-top: -10px;
width: 50px;
}

.comment{

text-align: justify;
font-size: 20px;

margin-left: 10%;
font-size: 14px;
width:60%;

}

.reply-box{


	display: none;
}

div.cds{



	border: solid 2px #777;

	width: 80%;

	margin-left: 40px;

	border-radius: 12px;

}

.reply-text-box{



	height: 25px;
		margin-left:12%;
	width: 60%;
	 border:0px; 
	 border-bottom: solid 2px;
	}


.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


@media screen and (max-width: 830px){

	#searchsugg {
		border-top-left-radius: -18px;
	overflow-y:auto;
		min-height: -10px;
		max-height: 100%;
	  width: 100%; margin-left: 0%; font-size: 20px;
    background-color: rgb(188, 192, 240); position:fixed;top:46px;
	
		z-index:900;
	}

	
}