#top_row{
    position: sticky;
    z-index: 2;
    height: 40px;
    position: sticky;
    top:0px;
 /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, yellow); /* Standard syntax (must be last)*/


}
#foreground{

    height:168%;
    width: 100%;
     background-color: black;
     opacity: 0.7;
     position:absolute;
     z-index:3; 
     display: none;
    }

.site-logo{
    height: 40px;
    width: 110%;


    }
.icon{

    margin:2px;

    font-size: 25px;}
#searchbar{

    background-color: #fff;

    border-radius: 0px;

    border-bottom: solid 3px orange;

    display: none;
    z-index: 2;

    width: 100%;
    position: fixed;
    top: 0px;



}

.searchfield{

border:0px;
height: 40px;
width: 100%;
font-size: 15px;


}

#srch-btn{

     display: none;


}


#searchsugg{


    
}


#drop-btn {
    text-align: center;
    border: 0PX;
    text-decoration: none;
    border-color:#ddd;
    border-bottom-color:#456;
    border-top-color:#456;

    background-color: #456;
    color: white;
 
    font-size: 100%;
    cursor: pointer;
   height: 100%;
   width: 100%;
    
}

#drop-btn:hover{

    background-color: #345;
}

div.logo-banner{
    border:solid 4px;
    border-color:#771144;
    background-color:#665544;
    }
    
    

div.header-btn:hover{
    
    background-color:#992211;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #457;
}


.dropdown{
    z-index: 2;
    display: none;
    position: fixed;
    top:50px;


}

#dropdownbackground{
    display: none;
     width: 100%; 
     height: 1000px; 
    background-color: black;
     opacity: 0.7;
     position: fixed;
      z-index: 2;
}


#drop-down{
    z-index: 2;
    display: none;
    position: fixed;
    top:40px;
    float-right;
    width: 100%;
    height: 100%;

}

.dropdown-content {
    float:left;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 12px;
    margin-left: 120px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

   #login_popup{
        transition: 1.5s;
    position: fixed;
    top:40px;
    background-opacity:0.1;
    z-index:11;
    width:30%;
    height: 500px;
    display: none;
    margin-left: 35%;



}

#sidenavbackground{
    
     width: 100%; 
     height: 1000px; 
     background-color: black;
     opacity: 0.7;
     position: fixed;
     z-index: 6;
}

#mySidenav{
    height: 100%;
    width: 30%;
    position:fixed;
    z-index: 4;
    top: 0;
    left: 70%;
    background-color: #ddd;
    display: none;
   transition: 1.5s;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #212121;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-width: 830px){

    #login_popup{
    position: fixed;
    top:0px;
    background-opacity:0.1;
    z-index:11;
    width:100%;
    display: none;
    margin-left: 0%;
    height: 100%;


}


    #mySidenav{
    height: 100%;
    width: 80%;
    position:fixed;
    z-index: 4;
    top: 0;
    left: 20%;
    overflow-x: hidden;
    transition: 1.5s;
    display: none;

}


#srch-btn{
    opacity: 1;
    font-size: 25px;
     color: white; 
     //padding:3px;
     display: block;
     text-align: center;

}

#srch-btn:hover{

    background-color: #345;


}

.close-searchbar{
    background-color: white;

}

#searchbar{
display: none;



}


#drop-btn {

border:0px;

    background-color: #456;
    color: white;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    
}

#drop-btn:hover{

    background-color: #345;
}


.dropdown-content {
    float:left;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 12px;
    margin-left: 0px;
}


}

